{% include "common/header.html" %}
	<script src="{{ MEDIA_URL }}donations.js" type="text/javascript"></script>
	</head>
<h2 id="welcome"> Welcome {{ username }} </h2> <br/>
<a class="logout" href="{% url logout %}">Logout</a>

	<body>
		<div id="content"> 
			{% include "common/banner.html" %}
			<p id="startingTab"> 1 </p>
			<div id="Tabs"> 
				<ul>
					<li id="tab1" class="tab"> <a href="user_info">User Info </a></li>
					<li id="tab2" class="tab highlighted"> Donations </li>
					<li id="tab3" class="tab"> <a href="used_resources"> Used Resources </a> </li>
				</ul>
			
			</div>
			<div id="window3" class="window">
			<!-- Donations -->
			<div class="tables">
			  <p id="maximizer1"> </p>
			  <table id="table1">
				{% ifequal has_donations "False" %}
					<p>No donations from others</p>
				{% else %}
					<caption> My Donations </caption>
					<tr> <th> IP Address </th> <th> Time Added </th> </tr>
					{% for donation in donations %}
						<tr class="table1row"> <td> {{ donation.ip }} </td> <td> {{ donation.port }} </td> </tr>
						
					{% endfor %}
				{% endifequal %}
			  </table>					
			  <br/>
			  <p id="maximizer2"> </p>
			  <table id="table2">
				{% ifequal has_donations_from_others "False" %}
					<p>No donations</p>
				{% else %}
					<caption> Donations to Me </caption>
					<tr> <th> Username </th> <th> Percentage </th> </tr>
					{% for donation in donations_to_me %}
						<tr class="table2row"> <td> {{ donation.username }} </td> <td> {{ donation.percentage }} </td> </tr>
					{% endfor %}
				{% endifequal %}
					</table>
				</div>
				<!-- Shared Resources -->
			<p id="maximizer3"> </p>

			<div id="sharedResources">

			    {# {% ifequal has_shares "False" %} #}
			  {# <p>No shares</p> #}
			 {#  {% else %} #}

							<caption> Shared </caption>
							<tr> <th> </th> <th> User ID </th> <th> Percentage </th> </tr>
							{% for share in shares %}
							<tr class="table3row"> 
							  <td> <form method="POST" action="{% url del_share %}">
							      <input type="submit" value="remove">
							      <input type="hidden" name="deleteshare_{{ share.to_user.www_user.username }}"/>
							  </form> </td> 
							  <td> {{ share.to_user.www_user.username }} </td> <td> {{ share.percent }} </td> </tr>
							{% endfor %}
							
							  <!-- <td colspan=2><input name="update_shares" type="submit" value="Update" /> --> 
					  </table>

			   {# {% endifequal %} #}

			<font color="red">  {{ share_form.username.errors }}</font><br>
			<font color="red">{{ share_form.percent.errors }}</font>
					<form method="POST" action="{% url new_share %}" target="#">
					{{ share_form.username.label }}{{ share_form.username }}<br>
					{{ share_form.percent.label }}{{ share_form.percent }}<br>
					<input type="hidden" name="new_share">
					<input type="submit" value="Add New"/>
						</p>
					</form>
			</div>
			
				<div class="sideWindow"> 
					<h2> Your Installers </h2>
					<a href="{% url installers user.username %}"> <p id="installerLink"> Installers Page </p> </a> <br/>
					<a class="icons" href="{% url installers user.username %}win.zip"> <img id="win" src="{{ MEDIA_URL }}win.jpg" alt="windows"/> </a>
					<a class="icons" href="{% url installers user.username %}mac.tgz"> <img id="osx" src="{{ MEDIA_URL }}osx.jpg" alt="mac"/> </a>
					<a class="icons" href="{% url installers user.username %}linux.tgz"> <img id="linux" src="{{ MEDIA_URL }}linux.jpg" alt="linux" /> </a> 
				</div>
			</div>
		</div>
	</body>
</html>	

{% include "common/footer.html" %}
