{% extends "control/control_base.html" %}

{% block title %}
Get Donations - GENI
{% endblock title %}

{% block script %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}scripts/download.js" charset="utf-8"></script>
{% endblock script %}

{% block nav_getdonations %}
<td class="active">Get Donations</td>
{% endblock nav_getdonations %}

{% block content %}
	<div id="main">
		<div id="middle">
			<div id="downloadlink">
				<p>Give this link to others so they can donate on your behalf:</p>
				<a href="#">https://seattle.cs.washington.edu/geni/download/shawiz/</a>
			</div>
			<table id="downloads">
				<tr id="mac">
					<td><img src="{{ MEDIA_URL }}images/mac.png" alt="mac" /></td>
					<td>
						<a href="#">Download installer for Mac</a>
						<p>
							<strong>Instructions:</strong>
							<br />(Note: You must have Python 2.5 installed)
						</p>
						<ol>
							<li>Download the Seattle tarball to your computer</li>
							<li>Extract the tarball to the directory in which you would like to install Seattle.</li>
							<li>Navigate to that directory and run <code>./install.sh</code> (or python install.py).</li>
						</ol>
						<br/>
						To check that Seattle is running, try running:
						<br/>
						<code> ps Aww | grep nmmain.py | grep -v grep</code>
					</td>
				</tr>
				<tr id="windows">
					<td><img src="{{ MEDIA_URL }}images/windows.png" alt="windows" /></td>
					<td>
						<a href="#">Download installer for Windows</a>
						<p><strong>Instructions:</strong></p>
						<ol>
						<li>Download the Seattle zip file to your computer</li>
						<li>Extract the zip file to the directory in which you would like to install Seattle.</li>
						<li>Double click (or run from the command line) install.bat.</li>
						</ol>
						<br/>
						To check that Seattle is running, look in Task Manager for the process pythonw.exe.
					</td>
				</tr id="linux">
				<tr>
					<td><img src="{{ MEDIA_URL }}images/linux.png" alt="linux" /></td>
					<td>
						<a href="#">Download installer for Linux</a>
						<p>
							<strong>Instructions:</strong>
							<br />(Note: You must have Python 2.5 installed)
						</p>
						<ol>
							<li>Download the Seattle tarball to your computer</li>
							<li>Extract the tarball to the directory in which you would like to install Seattle.</li>
							<li>Navigate to that directory and run <code>./install.sh</code> (or python install.py).</li>
						</ol>
						<br/>
						To check that Seattle is running, try running:
						<br/>
						<code> ps -f | grep nmmain.py | grep -v grep</code>
						
					</td>
				</tr>
			</table>
		</div>
	</div>

{% endblock content %}
