{% extends "control/control_base.html" %}

{% block title %}
Help - GENI
{% endblock title %}

{% block nav_help %}
<td class="active">Help</td>
{% endblock nav_help %}

{% block content %}
	<div id="main">
		<div id="middle">
			<div id="toc">
				<h4>Table of Content</h4>
				<ul>
					<li>What is GENI</li>
					<li>How to use the GENI portal</li>
					<ul>
						<li>Profile : User keys, port, and other information</li>
						<li>My GENI : Inspecting donations, managing resource shares</li>
						<li>My Vessels : Managing vessels -- acquiring and releasing vessel resources</li>
						<li>Get Donations : Donating to the platform</li>
					</ul>
					<li>Who to contact for more help</li>
				</ul>
			</div>
			<h2>What is GENI</h2>
			<p>
			GENI is a portal that manages resources
			donated by users who have donated resources by
			installing <a href="https://seattle.cs.washington.edu/">Seattle</a>. GENI
			enables users of donated resources to acquire
			resources (e.g. nodes around the world) on
			which they can then execute programs written
			in <a href="https://seattle.cs.washington.edu/wiki/RepyTutorial">Repy</a>,
			the Seattle platform programming
			language. GENI also lets your share of the
			resources with other users, to release
			acquired resources that are no longer needed,
			and perform a variety of other tasks. This is
			meant to be a rough sketch. For more
			information about about how GENI fits with the
			rest of the Seattle platform,
			see <a href="https://seattle.cs.washington.edu/wiki/SeattleComponents">this
			  page</a>.
			</p>

			<h2>How to use the GENI portal</h2>
			
			<p>The GENI portal is divided into four
			sections, each of which can be accessed
			through a tab at the top of the page. Remember
			to maintain account security and to always
			<b>Log Out</b> of your session by clicking on
			the Logout link at the top right of the page.
			</p>

			<p>The remainder of this section describes all
			the functions accessed in each of these tabs.
			</p>

			<h3>Profile : User keys, port, and other
			information</h3>

			<hr />
			
			<p>Here you you can manage your GENI account
			and find out meta information necessary for
			you to write programs for Seattle.</p>


			<ul>
			  <li><b>Download the toolkit.</b> The toolkit
			  includes the Seattle shell which you will
			  need to run programs on your acquired
			  vessels. For more information on how to use
			  the Seattle shell, see <a href="https://seattle.cs.washington.edu/wiki/Seash">this</a> page.
			  </li>

			  <li><b>Download the public and private
			  keys.</b> You will need these two key files
			  to access your acquired vessels. Once you
			  download them, place the two key files in
			  the same directory as Seattle shell you
			  downloaded with the Seattle toolkit
			  above. <i>Note: The portal maintains your
			  private key initially. It is recommended,
			  however, that you download your private key
			  and maintain it locally in a secure
			  location. To facilitate this, you may delete
			  your private key from the GENI portal.</i>
			  </li>

			  <li><b>User Port.</b> Each user is allocated
			  a unique UDP and TCP port resources. The
			  port number you see on this page is the port
			  number you have to use in your Seattle
			  programs.</li>
			</ul>

			<h3>My GENI : Inspecting donations, managing resource shares</h3>

			<hr />
			
			<p>This page helps you visualize and manage
			your Seattle resources, as well as the create,
			modify, and delete resource shares with other
			Seattle users.</p>

			<ul>

			  <li><b>My Credits</b> displays the total
			  resources you have at your disposal (number
			  of vessels you may acquire). It also
			  attributes these resources to either
			  donations made by users who have installed
			  your Seattle installers, or by users who
			  have shared their resources with you.</li>

			  <li><b>Resource usage</b> displays how the
			  resources available to you are being
			  used. Some of these will be used by you
			  ('Me'), others will be used by users with
			  whom you've shared your resources.</li>
			  
			  <li><b>Managing shares.</b> You can
			  <b>create</b> new shares with Seattle users
			  by clicking on 'share' on the bottom left of
			  the page in the box labeled as 'Free'. You
			  can <b>delete</b> existing shares, by
			  clicking the 'X' in the share box you would
			  like to remove. You can <b>modify</b> an
			  existing share by clicking on the share
			  box. This will allow you to change the
			  percent of resources allocated to the
			  share.</li>

			  <li><b>Getting more vessels.</b> Besides
			  sharing your resources, you make also redeem
			  your available resources as vessels. You can
			  do so by clicking 'get' in the box labeled
			  as 'Free'. At this point you will see a
			  window in which you may select the number of
			  vessels that you would like to acquire, and
			  the type of network environment between
			  these vessels. There are three choices for
			  the environment:

			  <ul>

			    <li>WAN : Wide area network. The vessels
			    will be as spread out as possible.</li>
			    
			    <li>LAN : Local area network.The vessels
			    will be on the same local network. </li>

			    <li>Random : A random selection of
			    vessels, and an unpredictable network
			    environment.</li>
			    
			  </ul>

			</ul>
			
			<h3>My Vessels : Managing vessels -- acquiring and releasing vessel resources</h3>
			<hr/ >
			
			<p>On this page you can see more detailed
			information about your acquired vessels, such
			as their IP addresses, and how long you have
			before the vessels are released. This page
			also allows you to acquire more vessel
			resources.</p>

			<ul>

			  <li><b>Vessel Information.</b></li>

			  <li><b>Getting more vessels.</b></li>

			</ul>
			
			<h3>Get Donations : Donating to the platform</h3>

			<hr />

			<ul>

			</ul>

			
			<p></p>
						
			<h2>Who to contact for more help</h2>

			<hr />
			
			<p>The GENI portal is being actively worked
			on. We solicit and appreciate your comments
			concerning any aspect of your experience with
			using the website and Seattle more
			generally.</p>

			<h3>Use our mailing list</h3>

			<hr />
			
			<p>Email Seattle users mailing list
			  at <a href="https://mailman.cs.washington.edu/mailman/listinfo/seattle-users"><font color=blue>seattle-users@cs.washington.edu</font></a>
			  with any further questions about GENI,
			  Seattle or anything else. We love receiving
			  feedback and hearing from our users. If you
			  have a highly technical question, also email
			  our developers list
			  at <a href="https://mailman.cs.washington.edu/mailman/listinfo/seattle-devel"><font color=blue>seattle-devel@cs.washington.edu</font></a>.</p>
			
			<h3>Read our Wiki</h3>
			<p>We have a growing collection of helpful
			  resources for users of Seattle, GENI, and Repy
			  (the Seattle programming language). Visit our
			  <a href="https://seattle.cs.washington.edu/">main
			    page</a> to get started, or jump to more
			  specific area of the site intended for
			  <a href="https://seattle.cs.washington.edu/wiki/StudentsPage">students</a>, 
			  <a href="https://seattle.cs.washington.edu/wiki/EducatorsPage">educators</a>,
			  and <a href="https://seattle.cs.washington.edu/wiki/DevelopersPage">developers</a>.</p>
			
		</div>
	</div>


{% endblock content %}
