{% extends "control/control_base.html" %}

{% block title %}
Help - GENI
{% endblock title %}

{% block nav_help %}
<td class="active">Help</td>
{% endblock nav_help %}

{% block content %}
	<div id="main">
		<div id="middle">
			<div id="toc">
				<h4>Table of Content</h4>
				<ul>
					<li>What is GENI</li>
					<li>How to use the GENI portal</li>
					<ul>
						<li>Profile : User keys, port, and other information</li>
						<li>My GENI : Inspecting donations, managing resources share</li>
						<li>My Vessels : Managing vessels -- acquiring and releasing vessel resources</li>
						<li>Get Donations : Donating to the platform</li>
					</ul>
					<li>Who to contact for more help</li>
				</ul>
			</div>
			<h2>What is GENI</h2>

			GENI is a portal that manages resources
			donated by users who have donated resources by
			installing <a href="https://seattle.cs.washington.edu/">Seattle</a>. GENI
			enables users of donated resources to acquire
			resources (e.g. nodes around the world) on
			which they can then execute programs written
			in <a href="https://seattle.cs.washington.edu/wiki/RepyTutorial">Repy</a>,
			the Seattle platform programming
			language. GENI also lets your share of the
			resources with other users, to release
			acquired resources that are no longer needed,
			and perform a variety of other tasks. This is
			meant to be a rough sketch. For more
			information about about how GENI fits with the
			rest of the Seattle platform,
			see <a href="https://seattle.cs.washington.edu/wiki/SeattleComponents">this
			  page</a>.
			
			<h2>How to use the GENI portal</h2>

			The GENI portal is divided into four sections,
			each of which can be accessed via a tab
			towards the top of the page. This section
			describes all the functions accessed in each
			of these tabs.
			
			<h3>Profile : User keys, port, and other information</h3>
			
			
			<h3>My GENI : Inspecting donations, managing resources share</h3>
			
			<h3>My Vessels : Managing vessels -- acquiring and releasing vessel resources</h3>
			
			<h3>Get Donations : Donating to the platform</h3>
						
			<h2>Who to contact for more help</h2>

			<h3>Use our mailing list</h3>
			<p>Email Seattle users mailing list
			  at <font color=blue>seattle-users@cs.washington.edu</font>
			  with any further questions about GENI,
			  Seattle or anything else. We love receiving
			  feedback and hearing from our users. If you
			  have a highly technical question, also email
			  our developers list
			  at <font color=blue>seattle-devel@cs.washington.edu</font>.</p>

			<h3>Read our Wiki</h3>
			<p>We have a growing collection of helpful
			  resources for users of Seattle, GENI, and Repy
			  (the Seattle programming language). Visit our
			  <a href="https://seattle.cs.washington.edu/">main
			    page</a> to get started, or jump to more
			  specific area of the site intended for
			  <a href="https://seattle.cs.washington.edu/wiki/StudentsPage">students</a>, 
			  <a href="https://seattle.cs.washington.edu/wiki/EducatorsPage">educators</a>,
			  and <a href="https://seattle.cs.washington.edu/wiki/DevelopersPage">developers</a>.</p>
			
		</div>
	</div>


{% endblock content %}
