{% include "common/header.html" %}
	<script src="{{ MEDIA_URL }}usedResources.js" type="text/javascript"></script>
	</head>


	<body>
			{% include "common/banner2.html" %}
			<div class="Tabs" id="tabs3"> 
				<ul>
					<li id="tab1" class="tab"> <a href="user_info"> User Info </a> </li>
					<li id="tab2" class="tab"> <a href="donations"> Donations </a> </li>
					<li id="tab3" class="tab highlighted"> Used Resources </li>
				</ul>
			
			</div>
			<div id="window2" class="window"> 
			<!-- Used Resources -->
				<div class="sideWindow">
					  <br>
						<h2> Get More Resources </h2>
						{% ifnotequal get_form None %}
						<form method="POST" action="{% url get_resources %}" target="#">
							<p>
							  <font color="red">  {{ action_explanation }} </font><br>
							  <font color="red">  {{ get_form.num.errors }}</font><br>
							  <font color="red">  {{ get_form.env.errors }}</font><br>
							  Number {{ get_form.num }}<br>
							  Environment {{ get_form.env }}<br>
							  <input type="submit" value="GET"/>
							</p>
						</form>
						{% else %}
						<font color="red">  Donate more nodes to acquire more resources. </font><br>
						{% endifnotequal %}
				</div>
				<div class="mainwindow">
					<div id="resourcestable">
					  <br>
					  <font color="red"><p align=center>  {{ remove_explanation }} </p></font><br>
						<table class="donation_table">
							<caption> <b>Mine</b> </caption>
							<tr><th>{% ifnotequal num_vessels 0 %}
							    <form method="POST" action="{% url del_all_resources %}">
							     <input type="submit" value="remove all"> </input>
							    </form>
							    {% endifnotequal %}
							  </th> <th> Vessel ID </th> <th> Vessel Status </th> <th> Expiration </th> </tr>
							{% for v in my_vessels %}
							<tr><td>
							    <form method="POST" action="{% url del_resource %}">
							    <input type="submit" value="remove"> </input>
							    <input type="hidden" name="delresource_{{ v.id }}"> </input>
							    </form>

							  </td><td> {{ v.vessel.donation.ip }}:{{ v.vessel.donation.port }}:{{ v.vessel.name }} </td> <td> {{ v.vessel.status }}  </td> <td> {{ v.expiration }} </td> </tr>
							{% endfor %}
						</table> 
						<br/>
						<table class="donation_table">
							<caption> <b>Shared</b> </caption>
							<tr> <th> Username </th> <th> Vessel ID </th> <th> Expiration </th> <th>Vessel Status </th> </tr>
							{% for v in sh_vesels %}
							<tr> <td> {{ v.user.www_user.username }} </td> <td> {{ v.vessel.ip }}:{{ v.vessel.port }}:{{ v.vessel.name }} </td> <td> {{ v.vessel.expiration }} </td> <td> {{ v.vessel.status }} </td> </tr>
							{% endfor %}
						</table>
					</div>
					<div class="spacer"> </div>
				</div>
				<div class="spacer"> </div>
			</div>
		</div>
	</body>
</html>

{% include "common/footer.html" %}
