{% include "common/header.html" %}
	<script src="{{ MEDIA_URL }}usedResources.js" type="text/javascript"></script>
	</head>


	<body>
			{% include "common/banner.html" %}
			<div id="top">
				<h2 id="welcome"> Welcome {{ username }} </h2> 
				<h2 class="logout"> <a href="{% url logout %}">Logout</a> </h2>
			</div>
			<div id="Tabs"> 
				<ul>
					<li id="tab1" class="tab"> <a href="user_info"> User Info </a> </li>
					<li id="tab2" class="tab"> <a href="donations"> Donations </a> </li>
					<li id="tab3" class="tab highlighted"> Resources </li>
				</ul>
			
			</div>
			<div id="window2" class="window"> 
			<!-- Used Resources -->
				<div class="sideWindow">
					  <br><br>
						<h2> Get More </h2>
						<form method="POST" action="{% url used_resources %}" target="#">
							<p>
							  <font color="red">  {{ get_form.num.errors }}</font><br>
							  <font color="red">  {{ get_form.env.errors }}</font><br>
							  {{ get_form.num.label }} {{ get_form.num }}
							  {{ get_form.env.label }} {{ get_form.env }}
							  <input type="submit" value="GET"/>
							</p>
						</form>
				</div>
				<div class="mainwindow">
					<div id="resourcestable">
						<table class="donation_table">
							<caption> Mine </caption>
							<tr> <th> IP:Port:Status </th> <th> Expiration </th> <th>Vessel Name </th> </tr>
							{% for v in my_vesels %}
							<tr> <td> {{ v.vessel.ip }}:{{ v.vessel.port }}:{{ v.vessel.status }} </td> <td> {{ v.vessel.expiration }} </td> <td> {{ v.vessel.name }} </td> </tr>
							{% endfor %}
						</table> 
						<br/>
						<table class="donation_table">
							<caption> Shared </caption>
							<tr> <th> Username </th> <th> IP:Port:Status </th> <th> Expiration </th> <th>Vessel Name </th> </tr>
							{% for v in sh_vesels %}
							<tr> <td> {{ v.user.www_user.username }} </td> <td> {{ v.vessel.ip }}:{{ v.vessel.port }}:{{ v.vessel.status }} </td> <td> {{ v.vessel.expiration }} </td> <td> {{ v.vessel.name }} </td> </tr>
							{% endfor %}
						</table>
					</div>
					<div class="spacer"> </div>
				</div>
				<div class="spacer"> </div>
			</div>
		</div>
	</body>
</html>

{% include "common/footer.html" %}
