{% include "common/header.html" %}
	<script src="{{ MEDIA_URL }}userInfo.js" type="text/javascript"></script>
	</head>



	<body>
	  <div id="content"> 
	    {% include "common/banner.html" %}
		<div id="top">
			<h2 id="welcome"> Welcome {{ user.username }} </h2> 
			<h2 class="logout"> <a href="{% url logout %}">Logout</a> </h2>
		</div>
		<div id="Tabs"> 
				<ul>
					<li id="tab1" class="tab highlighted"> User Info </li>
					<li id="tab2" class="tab"> <a href="donations"> Donations </a> </li>
					<li id="tab3" class="tab"> <a href="used_resources"> Used Resources </a> </li>
				</ul>	
		</div>
		<div id="window1" class="window"> 
		  <!-- User Information -->
			<div id="usercontent">
		  {% ifnotequal info "" %}
		  <p class="info"> {{ info }} </p>
		  {% endifnotequal %}
		  <table> <tr>  <td> Username: </td> <td> {{ user.username }} </td> </tr>
				<tr> <td> Affiliation: </td> <td> {{ geni_user.affiliation }} </td> </tr>
				<tr> <td> Port: </td>  <td> {{ geni_user.port }} </td> </tr>
				<tr> <td> Public Key: </td> <td>
				    <form method="POST" action="{% url pub_key %}"> 
						<input type="submit" value="Download" />
					</form>
				</td> </tr>
				<tr> <td> Private Key: </td> <td>
				{% ifnotequal geni_user.privkey "" %}
					<form class="inline" method="POST" action="{% url priv_key %}"> 
						<input type="submit" value="Download" /></p>
					</form>
				</td> <td>
					<form class="inline" method="POST" action="{% url del_priv %}" target="#"> 
						<input type="hidden" name="keyToDelete" value={{ user.username }}> </input>
						<input id="delete" type="submit" value="Delete"> </input>
					</form>
				</td> </tr> 
					  <p class="red"> For better
					    security we recommend that you
					    download and remove your private key
					    from the server. Always store your
					    private key in a secure location. </p>
				{% endifnotequal %}
			        <form method="POST" action="{% url gen_new_key %}"> 
				  <input type="submit" value="Generate a new public-private key pair" />
				</form>
				</div>
			</div>
		</div>
	</body>
</html>

{% include "common/footer.html" %}
