
/******************************
* STYLE FOR PROFILE PAGE
*******************************/

table.profile {
    border-collapse: collapse;
	border-spacing: 0;
	width: 70%;
}

#info {
    background-color : #ded;
    border : 1px solid #0a0;
    padding : 1em;
    margin-bottom : 1em;
}

table.profile tr td.key {
    text-align: right;
    height: 30px;
    width: 150px;
    font-weight: bold;
}

table.profile tr td.value {
    padding-left: 15px;   
}

#download {
    float: right;
    border: 2px solid #666;
    background-color: #fff;
    padding: 10px;
    margin-right: 0px;
    text-align: center;
    font-weight: bold;
}

#download a img {
    width: 150px;
}

#download_pubkey_form {
    display : inline;	
}
