<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Seattle - Installer Creator - Download Keys</title>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />
    <script src="{{ MEDIA_URL }}scripts/prototype.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}scripts/downloadkeys.js" type="text/javascript"></script>
  </head>

  <body>
    <div id="content"> 
      <h1 id="header">Download Your Keys</h1>
        <div id="middle">
        <p class="message">

          Before we continue, we're going to give you all public and private keys associated with this installer.<br>
          This information is very important, as you will need the keys later on!<br><br>
          
          Please download your keys now.<br>
          <button name="dl_keys" id="dl_keys">Download Keys</button><br><br>
          Once you have downloaded your keys:<br>
          <button name="dl_installers" id="dl_installers">Download Installers!</button>
          <p class="warning">
          Once you leave this page, the keys will no longer be accessible!<br>
          Keep your keys in a safe place!
          </p>
        </p>
        </div>
    </div>
  </body>
</html>