<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Seattle - Installer Creator - Download Info</title>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />
    <script src="{{ MEDIA_URL }}scripts/prototype.js" type="text/javascript"></script>
    
    <script type="text/javascript">
    //<![CDATA[
    window.onload = function () {  
      $("dl_keys").onclick = dl_keys;
      $("dl_installers").onclick = go_continue;
      
      $("dl_installers").disabled = true;
    };
    
    
    function dl_keys() {
      location.href = "/html/dl_keys";
      $("dl_installers").disabled = false;
    };
    
    
    function go_continue() {
      location.href = "/html/installers/{{ installer_id }}?just_installed=true";
    };
    //]]>
    </script>
  </head>

  <body>
    <div id="content"> 
      <h1 id="header">Download Info</h1>
        <div id="middle">
        <p class="message">

          Before we continue, we're going to give you <i>all public and private keys associated with this installer</i>,<br>
          as well as a <i>link you can give to others</i> that will allow them to download your installers.<br><br>
          This information is very important!<br><br>
          
          Please download the information now.<br>
          <button name="dl_keys" id="dl_keys">Download Info Package</button><br><br>
          Once you have downloaded your info:<br>
          <button name="dl_installers" id="dl_installers">Download Installers!</button>
          <p class="warning">
          Once you leave this page, the above information will no longer be accessible!<br>
          Keep it in a safe place!
          </p>
        </p>
        </div>
    </div>
  </body>
</html>