{% extends "common/control_base.html" %}

{% block nav_profile %}
<td class="active">Uploads</td>
{% endblock nav_profile %}

{% block content %}
<div id="main">
<table>

  <tr>
    <td>Class code</td>
    <td>Email</td>
    <td>Submission</td>
    <td>Action</td>
    <td>Status</td>
  </tr>
  {% for classcode, email, file, status in upload_entries %}
  <tr>
    <td>{{ classcode }}</td>
    <td>{{ email }}</td>
    <td><!--{% url preview classcode=classcode email=email %}-->{{file}}
        <td>
        <table>
            <td><form action="{% url grade %}" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="which" id="id_which" value="{{ file }}"></input>
                    <input type="submit" value="Grade"></input>
                </form>
            </td>
        <td> <form action="{% url showstat %}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="which" id="id_which" value="{{ file }}"></input>
                <input type="submit" value="All Stat"></input>
            </form>
        </td>
        </table>
    </td>
    <td>
    <h5>{{ status }}</h5>
    </td>
  </tr>
  {% endfor %}
  </table>
</div>
{% endblock content %}


