{% extends "accounts/accounts_base.html" %}

{% block style %}
{{ block.super }}
<link href="{{ MEDIA_URL }}css/help.css" rel="stylesheet" type="text/css" />
{% endblock style %}	


{% block title %}
Help - GENI
{% endblock title %}

{% block nav_help %}
<td class="active">Help</td>
{% endblock nav_help %}

{% block content %}
	<div id="main">
		<div id="middle">
			<div id="toc">
				<h3>Table of Contents</h3>
				<ul>
					<li><a href="#introduction" title="What is GENI">What is GENI</a></li>
					<li><a href="#register" title="How to Register">How to Register</a></li>
					<li><a href="#login" title="How to Login">How to Login</a></li>
					<li><a href="#forget" title="Forget Password">Forget Password</a></li>		
					<li><a href="#contact" title="Who to contact">Who to contact for more help</a></li>
				</ul>
			</div>
			<h2><a name="introduction">What is GENI</a></h2>
			<p>GENI is a portal that manages resources donated by users who have donated resources by installing Seattle. GENI enables users of donated resources to acquire resources (e.g. nodes around the world) on which they can then execute programs written in Repy, the Seattle platform programming language. GENI also lets your share of the resources with other users, to release acquired resources that are no longer needed, and perform a variety of other tasks. This is meant to be a rough sketch. For more information about about how GENI fits with the rest of the Seattle platform, see this page.</p>
			<h2><a name="register">How to Register</a</h2>
			<p>There are five fields you need to fill out in the registration form.</P>
			<ul>
				<li><strong>Username</strong> the login name you want to use in the GENI portal. You will need your username as well as your password to login to the portal. </li>
				<li><strong>Password</strong> at least 6 characters in length, please do not use "123456" or "password" as your password because it is very vulnerable to attackers.</li>
				<li><strong>Password Confirmation</strong> same as password. this make sure you typed in the exact password you want.</li>
				<li><strong>Affiliation</strong> company or organization you belong to</li>
				<li><strong>My Public Key</strong> if you are give a public key prior to registration, please select "Let me upload my public key" and click "Browse.." to select your public key to upload. Otherwise, stay with "Generate key pairs for me" and leave "Browse.." field blank.</li>
			</ul>
			<p>Click Register after you finish the form. Don't leave any field blank.</p>
			<h2><a name="login">How to Login</a></h2>
			<p>Enter your username and password to login to the portal.</p>
			<h2><a name="forget">Forget Password</a></h2>
			<p>If you forget your password or username, please contact us as stated below.</p>
			
			{% include "common/help_contact.html" %}
		</div>
	</div>


{% endblock content %}
