{% include "common/header.html" %}
	<script src="{{ MEDIA_URL }}register.js" type="text/javascript"></script>
	</head>
{% block content %}

<body>
{% include "common/banner.html" %}

<div id="Tabs"> 

  <h3>Register for a GENI account</h3><br>
	<div id="registration">
	  <form action="{% url register %}" method="POST" enctype="multipart/form-data">

	    {% if form.username.errors or form.password1.errors or form.password2.errors or form.affiliation.errors or form.pubkey.errors %}
	    <p><font color="red">
		Please correct the following:
		{{ form.username.errors }}
		{{ form.password1.errors }}
		{{ form.password2.errors }}
		{{ form.affiliation.errors }}
		{{ form.pubkey.errors }}
	    </font></p><br>
	    {% endif %}

	    <table id="Log-In-Table">
	      <tr><td class="loginlabel"> {{ form.username.label_tag }}<font color="red">*</font></td><td> {{ form.username }}</td></tr>
	      <tr><td class="loginlabel">{{ form.password1.label_tag }}<font color="red">*</font></td><td> {{ form.password1 }}</td></tr>
	      <tr><td class="loginlabel">{{ form.password2.label_tag }}<font color="red">*</font></td><td> {{ form.password2 }}</td></tr>
	      <tr><td class="loginlabel">{{ form.affiliation.label_tag }}<font color="red">*</font></td><td> {{ form.affiliation }}</td></tr>
	      <tr><td class="loginlabel">{{ form.pubkey.label_tag }}</td><td>{{ form.gen_upload_choice }}<br>{{ form.pubkey }}</td></tr>
		</table>
		<div id="Log-In">
		<input id="registerbutton" align="center" type="submit" value="Register" />
		<br/> 
	   <b class="center">OR</b>
       <br/>
       <a class="center" href="{% url login %}">Log In</a>
	   </div>
	  </form>

	</div>
  

{% endblock %}
{% include "common/footer.html" %}
