	<div id="main" style="border: none; margin: 0pt 0em 0pt 0.2em; float: right; width: 22em; padding-left: 0.2em;">
    <br><h2 style="text-align:left"><u>Seattle-GENI Portal Login:</u></h2><br>
	  <div id="main" style="margin: 0pt 0em 0pt 0.2em; padding-left: 0;">

		  <form method="post" action="http://seattle.cs.washington.edu:8090/geni_dev_ivan/accounts/login">
		  {% if err %}
		  <p><font color="red">{{ err }}</font></p><br>
		  {% endif %}

		  <table class="login">
		    <tr>
		      <td class="key"> {{ form.username.label_tag }} </td>
		      <td class="value"> {{ form.username }} </td>
		    </tr>
		    <tr>
		      <td class="key"> {{ form.password.label_tag }} </td>
		      <td class="value"> {{ form.password }} </td>
		    </tr>
		    <tr>
		      <td class="key"></td>
		      <td class="value"><input type="submit" value="Login" /></td>
		      <input type="hidden" name="next" value="{{ next }}" />
		    </tr>
		  </table>    
		  </form>
	</div>

</div>
