{% extends "control/control_base.html" %}

{% block title %}
My Vessels - SeattleGENI
{% endblock title %}

{% block style %}
{{ block.super }}
<link href="{{ MEDIA_URL }}css/myvessels.css" rel="stylesheet" type="text/css" />
{% endblock style %}

{% block script %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}scripts/myvessels.js" charset="utf-8"></script>
{% endblock script %}

{% block nav_myvessels %}
<td class="active">My Vessels</td>
{% endblock nav_myvessels %}

{% block content %}
	<div id="main">
		<div id="middle">
			<div id="getresources">
			  {% ifnotequal get_form None %}
				<form method="POST" action="{% url get_resources %}">
				  <span id="caption">Get more resources</span>
					<font color="red">	{{ get_form.num.errors }}</font>
					<font color="red">	{{ get_form.env.errors }}</font>
					<span>Number of vessels</span>
					{{ get_form.num }}
					<span>Environment</span>
					{{ get_form.env }}
					<input type="submit" value="Get" />
				</form>
			  {% else %}
			  <div id="action_other"> Donate more nodes to acquire more resources. </div>
			  {% endifnotequal %}
				
			  {% ifnotequal action_summary "" %}
				<div id="action_summary"> {{ action_summary }} </div>
			  {% endifnotequal %}
			  
			  {% ifnotequal action_detail "" %}
				<div id="action_summary"> Details: {{ action_detail }} </div>
			  {% endifnotequal %}
				
				{% ifnotequal remove_summary "" %}
				<div id="action_summary"> {{ remove_summary }} </div>
				{% endifnotequal %}
			</div>
			<table class="vessels">
				<tr class="odd">
					  {% ifnotequal num_vessels 0 %}
					  <th>
					  <form method="POST" action="{% url del_all_resources %}">
						<input type="submit" value="remove all"> </input>
					  </form>
					  </th>
					  {% endifnotequal %}
					<th>Vessel Location</th>
					<th>Vessel Name</th>
					<th>Expires in</th>
				</tr>
			{% if my_vessels %}
				{% for vessel in my_vessels %}
  				<tr class="{% cycle 'odd' 'even' %}">
  					<td>
  					  <form method="POST" action="{% url del_resource %}">
  					<input type="submit" value="remove"> </input>
  					<input type="hidden" name="handle" value="{{ vessel.handle }}"></input>
  					  </form>
  					</td>
  					<td><b> {{ vessel.node_ip }} </b></td>
  					<td> {{ vessel.vessel_id }} </td>
  					<td> {{ vessel.expires_in }} </td>
  				</tr>
  				{% endfor %}
  			{% else %}
				<tr class="even"><td colspan="4">You have no acquired resources<td></tr>
  			{% endif %}
				
			</table>
			{% ifnotequal num_vessels 0 %}
			<table class="vessels">
			  <tr class="even">
			    <td colspan="4">Total <i>{{ num_vessels }}</i> acquired vessel(s).</td>
			  </tr>
			</table>
			{% endifnotequal %}
		</div>
	</div>

{% endblock content %}

