

/*******************
* RESET
********************/

* {
	margin: 0;
	padding: 0;
}

fieldset, img {
	border: 0;
}


ol {
    list-style-position: inside;
}

a {
    text-decoration: none;
    color: #000;    
}



/***********************
* GENERAL
************************/


body {
	background-color: #fff;
	font-family: "Segoe UI", "Lucida Grande", "Helvetica" , sans-serif;
	font-size: 11pt;
}

#header {
    width: 70%;
    margin: 30px auto 20px auto;
}

#header #logo {
    font-size: 36pt;
    font-weight: bold;
}

#header #caption {
    margin-left: 20px;
    font-size: 10pt;
}

#navigator {
    width: 100%;
    border-bottom: 3px solid #222;
}

#tabs {
    width: 70%;
    margin: 0 auto;
}

#meta {
    float: right;
    font-size: 14pt;
    margin: 5px 0;
}

#tabs table {
    border-collapse: collapse;
    border-spacing: 0;
}

#tabs table tr td {
   padding: 5px 15px;
   font-size: 16pt;
   border-top: 1px solid #222;
   border-right: 2px solid #222;
   border-left: 2px solid #222;
}

#tabs table tr td.active {
    background-color: #222;
    color: #fff;
}

#main {
    width: 100%;
    padding: 10px 0 60px 0;
    background-image: url(../images/bg.png);
    background-repeat: repeat-x;
}

#middle {
    margin: 0 auto;
    width: 70%;
}

h2 {
	margin: 50px auto 5px 0;
}

h3 {
	margin: 40px auto 5px 0;
}


#toc {
    float: right;
    border: 2px solid #999;
    width: 300px;
    padding: 10px 15px;
    background-color: #fff;
    margin: 10px 30px;
	font-size: 10pt;
}

#toc h3 {
	margin: 10px 0;
}

#toc a {
	color: #0066FF;
}

#toc ul {
    margin: 5px 20px;
}

#toc ul li {
	line-height: 14pt;
	margin-bottom: 5px;
}

ul {
	margin-left: 40px;
}

li {
	line-height: 16pt;
	margin-bottom: 10px;
}

p {
    margin: 10px auto;
	font-size: 11pt;
	text-align: justify;
	line-height: 16pt;
}

p a {
	color: #0066FF;
}
