/*****************************************************************
<File Name>
	style.css

<Started>
	January 18, 2009

<Author>
	shawiz@cs.washington.edu
	Xuanhua (Sean) Ren

<Purpose>
	Provides the stylesheet for GENI


*****************************************************************/



/*******************
* RESET
********************/

* {
	margin: 0;
	padding: 0;
}

fieldset, img {
	border: 0;
}

ol, ul {
	list-style: none;
}

a {
    text-decoration: none;
    color: #000;    
}



/***********************
* GENERAL
************************/


body {
	background-color: #fff;
	font-family: "Segoe UI", "Lucida Grande", "Helvetica" , sans-serif;
	font-size: 12pt;
}

#header {
    width: 70%;
    margin: 30px auto 20px auto;
}

#header #logo {
    font-size: 36pt;
    font-weight: bold;
}

#header #caption {
    margin-left: 20px;
    font-size: 10pt;
}

#navigator {
    width: 100%;
    border-bottom: 3px solid #222;
}

#tabs {
    width: 70%;
    margin: 0 auto;
}

#meta {
    float: right;
    font-size: 14pt;
    margin: 5px 0;
}

/*
#tabs ul li {
    padding: 5px 15px;
    font-size: 16pt;
    margin: 0;
    border-top: 1px solid #222;
    border-right: 2px solid #222;
    border-left: 2px solid #222;
    display: inline;
}

#tabs ul li.active {
    background-color: #222;
    color: #fff;
}

*/

#tabs table {
    border-collapse: collapse;
    border-spacing: 0;
}

#tabs table tr td {
   padding: 5px 15px;
   font-size: 16pt;
   border-top: 1px solid #222;
   border-right: 2px solid #222;
   border-left: 2px solid #222;
}

#tabs table tr td.active {
    background-color: #222;
    color: #fff;
}

#main {
    width: 100%;
    height: 400px;
    padding: 40px 0;
    background-image: url(images/bg.png);
    background-repeat: repeat-x;
}

#middle {
    margin: 0 auto;
    width: 70%;
}

/******************************
* STYLESHEET FOR index.html
*******************************/

table.profile {
    margin-top: 20px;
    border-collapse: collapse;
	border-spacing: 0;
	width: 70%;
}

table.profile tr td.key {
    text-align: right;
    height: 30px;
    width: 150px;
    font-weight: bold;
}

table.profile tr td.value {
    padding-left: 15px;
    
}

table.profile tr.odd {
    background-color: #fff;
}

table.profile tr.even {
    background-color: #eee;
}

#middle #download {
    float: right;
    width: 100px;
    border: 2px solid #666;
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
    margin-right: 60px;
    text-align: center;
    font-weight: bold;
}


/******************************
* STYLESHEET FOR mygeni.html
*******************************/

.bar {
    width: 100%;
    padding: 20px 0px;
    font-size: 11pt;
    color: #333;
}

.bar h3 {
    margin-bottom: 10px;
}

table.credits {
	border-spacing: 3px;
	border: 2px solid #999;
	width: 100%;
	height: 80px;
}

table.usage {
    border-spacing: 3px;
	border: 2px solid #999;
	width: 100%;
	height: 80px;
}

table.credits tr td, table.usage tr td {
	color: #888;
	text-align: center;
	padding: 8px;
}

table.credits tr td span, table.usage tr td span {
    font-size: 14pt;
    font-weight: bold;
    cursor: pointer;
}

table.usage tr td a {
	float: right;
	font-size: 12pt;
	color: #888;
	margin-left: 8px;
}

table.names {
	border-spacing: 0px;
	width: 100%;
}

table.names tr td {
    padding: 3px;
    text-align: center;
}

table.usage tr.theader {
    height: 15px;
    font-size: 10pt;
    font-weight: normal;
    text-align: right;
    padding-right: 10px;
}

td.me {
    width: 20%;
    background-color: #ccc;
}

td.red {
    width: 10%;
    background-color: #ffcccc;
}

td.green {
    width: 25%;
    background-color: #ccffcc;
}

td.yellow {
    width: 30%;
    background-color: #ffffcc;
}

td.blue {
    width: 15%;
    background-color: #99ccff;
}

td.free {
    background-color: #fff;
}

td.one {
    width: 30%;
    background-color: #ccffcc;
}

td.two {
    width: 45%;
    background-color: #99ccff;
}

td.three {
    width: 10%;
    background-color: #ccc;
}

table.users {
    display: none;
    width: 100%;
    margin: 20px auto;
    border-spacing: 3px;
    border: 2px solid #999;
}

table.users caption {
    font-weight: bold;
}

table.users tr td{
    height: 25px;
    text-align: center;
}
    
table.users tr th {
    font-weight: bold;
    background-color: #666;
    color: #fff;
}

table.users tr.odd {
    background-color: #fff;
}

table.users tr.even {
    background-color: #eee;
}


/******************************
* STYLESHEET FOR myvessels.html
*******************************/

table.vessels {
    width: 90%;
    margin: 20px auto;
    border-spacing: 3px;
    border: 2px solid #999;
}

table.vessels tr td{
    height: 30px;
    text-align: center;
}
    
table.vessels tr th {
    font-weight: bold;
    background-color: #666;
    color: #fff;
}

table.vessels tr.odd {
    background-color: #fff;
}

table.vessels tr.even {
    background-color: #eee;
}


/******************************
* STYLESHEET FOR help.html
*******************************/

#toc {
    float: right;
    border: 2px solid #999;
    width: 200px;
    padding: 10px 15px;
    background-color: #fff;
    margin: 10px 0;
}

#toc ul {
    margin: 5px 10px;
    list-style: disc inside;
}

P {
    margin: 10px auto 20px 0;
}
