body {
	font-family: "Arial", "Helvetica", "Courier New", "Serif";
	font-size: 14pt;
}

#userowned {
	background-color: #FFFFCC;
	width: 90%;
	text-align: center;
}

#innertable {
	margin-left: auto;
	margin-right: auto;
	height: 515px;
	width: 100%;
}

table {
	border-collapse: collapse;
	text-align: center;
	border: 1px solid black;
}

#vesselcontainer {
	width: 10%;
	background-color: #EDE275;
}

.vesselrow {
	text-align: center;
    padding: 1%;	
	display: none;
}

td, caption {
	border: 1px solid black;
}

#caption2 {
	margin-top: 40%;
}

th {
	padding-right: 10px;
	text-align: center;
}

#maintable {
	width: 50%;
	float: left;
}

.fillers {
	background-color: green;
	color: green;
}

.spacer {
	clear: both;
}

#toosmalltable {
	clear: none;
	margin-left: 53%;
}