#userowned {
	background-color: #FFFFCC;
	width: 90%;
	text-align: center;
}

#innertable {
	margin-left: auto;
	margin-right: auto;
	height: 500px;
	width: 100%
}

#vesselcontainer {
	width: 10%;
	background-color: #EDE275;
}

.vesselrow {
	text-align: center;
    padding: 1%;	
	display: none;
}

#maintable {
	width: 50%;
}

.fillers {
	background-color: green;
	color: green;
}

.spacer {
	clear: both;
}