{% extends "customized_installer/customized_installer_base.html" %}

{% block title %}
Customized Installer Maker
{% endblock title %}

{% block style %}
{{ block.super }}
<link href="{{ MEDIA_URL }}css/index.css" rel="stylesheet" type="text/css" />
{% endblock style %}

{% block nav_custominstaller %}
<td class="active">Customized Installer Maker</td>
{% endblock nav_custominstaller %}

{% block content %}
		<div id="main"> 
			<div id="middle">
				<div id="users">
					<div id="names"></div>
					<div id="input">
						<form method="post" enctype="multipart/form-data" action="process.php" id="form" name="form" target="target">
							<input type="text" name="username" id="username" value="user_1" size="12" />
							<input type="hidden" name="action" value="adduser" />
							<input type="file" name="publickey" id="publickey" size="6" />
							<span>upload a public key (optional)</span>
							<input type="submit" name="add" id="add" value="Add" />
							<iframe id="target" name="target" src="" style="left:0px; top:10px; width:0px; height:0px; border:none;"></iframe>
						</form>
					</div>
				</div>
				<button name="installer" id="installer">Create Installer</button>
				<div id="pluses"> </div>
				<div id="vessellist"> </div>
			</div>
		</div>
{% endblock content %}


