{% extends "common/geni_base.html" %}

{% block style %}
{{ block.super }}
<link href="{{ MEDIA_URL }}css/account.css" rel="stylesheet" type="text/css" />
{% endblock style %}

{% block script %}
{% endblock script %}

{% block navigation %}
	<div id="navigator">
		<div id="tabs">
			<table>
				<tr>
				  {% block nav_login %}
				  <td><a href="{% url user_login %}">Login</a></td>
				  {% endblock nav_login %}

				  {% block nav_register_instructor %}
				  <td><a href="{% url instr_registration %}">Register as Instructor</a></td>
				  {% endblock nav_register_instructor %}
                  
                  {% block nav_register_student %}
				  <td><a href="{% url student_registration %}">Register as Student</a></td>
				  {% endblock nav_register_student %}

				  {% block nav_help %}
				  <td><a href="{% url accounts_help %}">Help</a></td>
				  {% endblock nav_help %}
                  
				</tr>
			</table>
		</div>
	</div>
{% endblock navigation %}
