{% extends "instructor/instructor_base.html" %}

{% block title %}
Seattle Autograder - Create Assignment
{% endblock title %}

{% block script %}
{{ block.super }}
{% endblock script %}

{% block nav_create_assignment %}
<td class="active">New Assignment</td>
{% endblock nav_create_assignment %}

{% block content %}
    <br>
    {% if error %}
        {{error}}
    {% endif %}
    
    {% if info %}
        {{info}}
    {% endif %}


    <form action="{% url create_assignment %}" method="POST">
        <table class="login">
            <tr>
                <td class="key">course title:</td>
                <td class="value">
                    <select name="chosen_course">
                    {% for course in course_list %}
                        <option value="{{course.pk}}">{{course.course_name}}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="key">project name:</td>
                <td class="value">
                    <select name="chosen_project">
                    {% for project in project_list %}
                        <option value="{{project.pk}}">{{project.name}}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="key">assignment name:</td>
                <td class="value"><input type=text name="assignment_name"></td>
            </tr>
            <tr>
                <td class="key">{{form.due_date.label_tag}}:</td>
                <td class="value">{{form.due_date}}</td>
            </tr>
            <tr>
                <td></td>
                <td class="value"><input type="submit" Value="Create Assignment"/></td>
            </tr>
        </table>
    </form>


{% endblock content %}