{% extends "download/download_base.html" %}

{% block title %}
Help - GENI
{% endblock title %}

{% block content %}
	<div id="main">
		<div id="middle">
			<div id="toc">
				<h4>Table of Content</h4>
				<ul>
					<li>a</li>
					<li>b</li>
					<li>c</li>
					<li>d</li>
					<li>e</li>
				</ul>
			</div>
			<h2>Help</h2>
			<h3>A</h3>
			<p>awejfoweoawnvnvahwuefnfwvuwabv buheowejfowvnn hfwehvweh0h nwefjw-fjnvBNCIUBS NCNwhfbwevbiuVB bbUuiBieuf</p>
			<h3>B</h3>
			<p>kamvewnnv jfjw fonwfojownfownf owendoncw owen wwoenvn fwefncwNVNWMVWMVPOVMPMV mv wvmwpovmvewm pwM</P>
			<h3>C</h3>
			
		</div>
	</div>


{% endblock content %}
