<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{ pagetitle }} - GENI</title>
	<link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{ MEDIA_URL }}scripts/jquery.js" charset="utf-8"></script>
	
</head>

<body>
	<div id="header">
		<span id="logo"><a href="index.html">GENI</a></span>
		<span id="caption">Global Environment for Network Innovations using Seattle</span>		
	</div>
	
	<div id="navigator">
		
		<div id="tabs">
			<span id="meta">{{ user.username }}: <a href="help.html">Help</a> <a href="#">Logout</a></span>
		<!--
			<ul>
				<li class="active">Profile</li>
				<li><a href="mygeni.html">My GENI</a></li>
				<li><a href="myvessels.html">My Vessels</a></li>
				<li>Get Donations</li>
			</ul>
		-->
			<table>
				<tr>
					<td class="active">Profile</td>
					<td><a href="mygeni.html">My GENI</a></td>
					<td><a href="myvessels.html">My Vessels</a></td>
					<td>Get Donations</td>
				</tr>
			</table>
		</div>
	</div>
