<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{ pagetitle }} - GENI</title>
	<link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{ MEDIA_URL }}scripts/jquery.js" charset="utf-8"></script>
	
</head>

<body>
	<div id="header">
		<span id="logo"><a href="index.html">GENI</a></span>
		<span id="caption">Global Environment for Network Innovations using Seattle</span>		
	</div>
