<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Custom Installer Builder | Seattle</title>

  <link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css" />
	<script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>

	<!-- jQuery + plugins -->
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/jquery-ui-1.8.5.custom.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/jquery-disable-text-select.min.js"></script>

	<!-- json2 -->
	<script type="text/javascript" src="{{ MEDIA_URL }}js/lib/json2.js"></script>

  <!-- block: head -->
  {% block head %}{% endblock %}
  <!-- endblock: head -->
</head>

<body>
  {% if step %}
    <div id="progress"><div class="build{% if step == 'build' %} active{% endif %}">Step 1: Build installers</div><div class="keys{% if step == 'keys' %} active{% endif %}">Step 2: Download keys</div><div class="installers{% if step == 'installers' %} active{% endif %}">Step 3: Download installers</div></div>
  {% endif %}
  
  <h1><span>Seattle</span> Custom Installer Builder {% block controls %}{% endblock %}</h1>
  
  <noscript><div id="status_wrapper"><div id="status" class="error round_shadow"><span class="content">The Custom Installer Builder requires JavaScript support. Please enable JavaScript in your browser settings.</span></div></div></noscript>
  
  <!-- block: content -->
  {% block content %}{% endblock %}
  <!-- endblock: content -->
</body>

</html>
