{% extends "base.html" %}

{% block head %}
<!-- Custom -->
<link rel="stylesheet" href="{{ MEDIA_URL }}css/builder.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/builder.js"></script>
{% endblock %}

{% block controls %}<span id="controls"><button id="reset_button">Reset</button><button id="build_button">&rarr; Build</button><div id="build_loading" class="loading"><img src="{{ MEDIA_URL }}img/ajax-loader.gif" /></div></span>{% endblock %}

{% block content %}
<div id="status_wrapper"><div id="status" class="round_shadow"><span class="content">The custom installer builder is only necessary in special circumstances. For more information, please visit the <a href="https://seattle.cs.washington.edu/wiki/CustomInstallerBuilder">Seattle wiki</a>.</span></div></div>

<div class="section">
  <h2>Create users</h2>
  <p>If you do not provide a public key for a user, a key pair will be generated for you.</p>
    
  <div id="user_widget">
    
    <div id="user_creator">
      <iframe id="user_frame" name="user_frame"></iframe>
      <form id="user_form" method="post" target="user_frame" enctype="multipart/form-data" action="{% url ajax-add-user %}">
        <fieldset class="round_shadow">
          <legend>New user</legend>
          <p>
            <label>Name</label>
            <input type="text" name="name" maxlength="40" />
          </p>
                
          <p>
            <label>Public key (optional)</label>
            <span class="reset_wrapper"><input type="file" name="public_key" size="12" /></span>
          </p>
                
          <p><button>Add User</button></p>
        </fieldset>
      </form>
    </div>
    
    <div id="user_list"><div class="sample round_shadow"><div class="container"><img class="key" src="{{ MEDIA_URL }}img/key.png"><span class="name"></span><span class="remove">&times;</span></div></div></div>
    
    <div class="clear"></div>
    
  </div>
</div>

<div class="section">
  <h2>Allocate resources</h2>
  <p>By default, donors contribute 10% of their computing resources to your experiment. You can subdivide those resources into vessels, each with separate owners and users.</p>
    
  <div id="vessel_markers">
    <div class="sample"><div><span>+</span></div></div>
  </div>
  
  <div id="vessel_widget" class="round_shadow">
    
    <div id="vessels">
      <div class="sample hideRemove">
        <div class="heading">Owner<div class="remove">&times;</div></div>
        <div class="user_selection owner"></div>
        <div class="heading">Users</div>
        <div class="user_selection users"></div>
      </div>
      <div class="reserved">Reserved (2%)</div>
    </div>
    
  </div>
</div>
{% endblock %}
