* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	font-size: 14pt;
	font-weight: bold;
	font-family: "Segoe UI", "Lucida Grande", "Helvetica" , sans-serif;
}

table {
	border-collapse: none;
	border: none;
}

a {
	text-decoration: none;
}

img {
	border: none;
}

.logout {
	font-size: 10pt;
}

#top {
	text-align: center;
	width: 50%;
	min-width: 490px;
	margin-left: 22%;
}

.notices {
	text-align: center;
}

.underlined {
	text-decoration: underline;
}

.center, #installersheader, #Installers, #table3 {
	text-align: center;
}

#table3 {
	width: 60%;
	margin-left: 20%;
	border: 1px solid black;
}

.submit {
	margin-left: 600px;
	font-size: 14pt;
	margin-top: 20px;
}

#header {
	margin-bottom: 5px;
}

#welcome {
	margin-bottom: 5px;
}

#content {
	margin: 5px;
	padding: 5px;
	width: 100%;
}

h2 {
	text-align: center;
	margin-bottom: 40px;
}

h1 {
	margin-top: 10px;
	font-size: 32pt;
	margin-bottom: 25px;
	border-bottom: 2px solid #000;
	padding-left: 20px;
}

#main {
	padding: 10px auto;
}

ul li {
	border-bottom: 1px solid #CED7E5;
	border-left: 1px solid #CED7E5;
	border-right: 1px solid #CED7E5;
	background-color: #FFF;
	font-size: 14pt;
	margin-top: 2px;
	height: 40px;
	display: inline;
	list-style: none;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

#Tabs {
	width: 80%;
	min-width: 788px;
	margin-left: 9%;
	margin-top: 10px;
	text-align: center;
	margin-bottom: 5px;
}

#usercontent {
}

.info {
	color: blue;
}

.error {
	color: red;
}

.donation_table {
	font-size: 13pt;
	text-align: center;
	margin-left: auto;
	margin-right:auto;
	border: 2px solid black;
}

.highlighted {
	background-color: #7CFC00;
}

th, td , tr{
	padding-left: 20px;
	padding-right: 20px;
	border: none;
}

#window1 {
	padding-top: 20px;
	font-size: 18pt;
	width: 80%;
	height: 70%;
	min-width: 450px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	text-align: center;
}

#window2 {
	width: 80%;
	height: 70%;
	min-width: 825px;
	left: 10%;
	margin-left: auto;
	border: 1px solid black;
	margin-right: auto;
}

#window3 {
	width: 80%;
	height: 70%;
	min-width: 800px;
	margin-left: auto;
	margin-right: auto;
	left: 10%;
	border: 1px solid black;
}

#window4 {
	width: 80%;
	height: 70%;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#mainwindow {
	border-right: 2px solid black;
	padding-bottom: 5px;
}

.sideWindow {
	width:30%;
	height:100%;
	float: right;
	/*left: 70%;
	top: 0%;*/
	text-align: center;
}
.tables {
	width: 70%;
}

.spacer {
	clear: both;
}

#sharedResources {
	padding-top: 20px;
	border-top: 2px solid black;
	text-align: center;
	width: 70%;
	display: none;
	border-right: 2px solid black;
}

#installerLink {
	font-size: 16pt;
	width: 70%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.icons {
	margin: 2px;
}

#update {
	margin-top: 50px;
	font-size: 15pt;
	width: 200px;
}

#registration {
	text-align: left;
	width: 400px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

#deletes {
	position: absolute;
	top: 55%;
	left: 30%
}

.inline {
	display: inline;
}

#table1, #table2{
	display: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#startingTab {
	display: none;
}

#table1 {
	width: 280px;
}

#table2 {
	width: 250px;
}

.red {
	color: red;
	font-size: 14pt;
}

#maximizer1, #maximizer2, #maximizer3 {
	color: blue;
}

#installers {
	width: 40%;
	height: 56%;
	text-align: center;
}
