* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	font-size: 14pt;
	font-weight: bold;
	font-family: "Segoe UI", "Lucida Grande", "Helvetica" , sans-serif;
}

table {
	border-collapse: collapse;
}

a {
	text-decoration: none;
}

img {
	border: none;
}

.center {
	text-align: center;
}

.submit {
	margin-left: 600px;
	font-size: 14pt;
	margin-top: 20px;
}

#content {
	margin: 5px;
	padding: 5px;
	width: 1250px;
}

h2 {
	text-align: center;
	margin-bottom: 40px;
}

h1 {
	margin-top: 10px;
	font-size: 32pt;
	margin-bottom: 25px;
	border-bottom: 2px solid #000;
	padding-left: 20px;
}

#main {
	padding: 10px auto;
}

ul li {
	border-bottom: 1px solid #CED7E5;
	border-left: 1px solid #CED7E5;
	border-right: 1px solid #CED7E5;
	background-color: #FFF;
	font-size: 14pt;
	margin-top: 2px;
	height: 40px;
	display: inline;
	list-style: none;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

#Tabs {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 5px;
}

#window1{
	width: 1000px;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#window2 {
	display:none;
	width: 1000px;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.donation_table {
	font-size: 13pt;
	text-align: center;
	margin-left: auto;
	margin-right:auto;
}

.highlighted {
	background-color: green;
}

th, td {
	padding-left: 20px;
	border: solid 2px black;
	padding-right: 20px;
}
#window1 {
	padding-top: 20px;
	font-size: 18pt;
	width: 1000px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

#window2 {
	display:none;
	width: 1000px;
	height: 500px;
	margin-left: auto;
	border: 1px solid black;
	margin-right: auto;
}

#window3 {
	display:none;
	width: 1000px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

#window4 {
	display:none;
	width: 1000px;
	height: 500px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.sideWindow {
	width:300px;
	height:500px;
	position: absolute;
	left: 835px;
	top: 182px;
	border-left: solid 2px black;
	text-align: center;
}
.tables {
	width: 700px;
	bottom: 100px;
}

#sharedResources {
	border-top: 2px solid black;
	text-align: center;
	width: 600px;
}

#installerLink {
	font-size: 16pt;
	width: 200px;
	height: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.icons {
	margin: 15px;
}

#update {
	margin-top: 50px;
	font-size: 15pt;
	width: 200px;
}

#registration {
	text-align: left;
	width: 400px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

#inline {
	display: inline;
}

#table1, #table2 {
	display: none;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.red {
	color: red;
	font-size: 14pt;
}